name: Build and publish a container image

on:
  push:
    branches: ['main']
    tags: ['v*']
  workflow_dispatch:
  repository_dispatch:
    types: [release]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          activate-environment: "true"

      - name: Determine the container tag and labels
        id: container_tag
        run: |
          APP_VERSION=$(python -c "import tomllib; print(tomllib.load(open('pyproject.toml', 'rb'))['project']['version'])")
          echo "APP_VERSION=$APP_VERSION" >> $GITHUB_ENV

          # Default: branch name
          CONTAINER_TAG=${GITHUB_REF##*/}

          # Check if this is a release or eodag dispatch
          if [[ "${GITHUB_REF_TYPE}" == "tag" || ( "${GITHUB_EVENT_NAME}" == "repository_dispatch" && "${GITHUB_EVENT_CLIENT_PAYLOAD_TYPE}" == "release" ) ]]; then
              uv pip install ".[server,telemetry]"
              EODAG_VERSION=$(PYTHONWARNINGS="ignore::SyntaxWarning" uv run --active python -c "import eodag; print(eodag.__version__)")
              echo "EODAG_VERSION=$EODAG_VERSION" >> $GITHUB_ENV
              CONTAINER_TAG="${APP_VERSION}-eodag-${EODAG_VERSION}"
          fi

          echo "CONTAINER_TAG=$CONTAINER_TAG" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract container metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=${{ env.CONTAINER_TAG }}
          labels: |
            org.opencontainers.image.title=stac-fastapi-eodag
            org.opencontainers.image.description=A STAC FastAPI backend using EODAG
            org.opencontainers.image.url=https://github.com/{{ github.repository }}
            org.opencontainers.image.source=https://github.com/{{ github.repository }}.git
            org.opencontainers.image.licenses=Apache-2.0
            org.opencontainers.image.authors=CS GROUP - France (CSSI) <eodag@csgroup.space>
            org.opencontainers.image.version=${{ env.APP_VERSION }}
            org.opencontainers.image.eodag.version=${{ env.EODAG_VERSION }}

      - name: Install git
        run: |
          sudo apt-get update
          sudo apt-get install -y git

      - name: Build and push container image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
